body
{
	background-color: lightpink;
	color: black;
	font-size: 20px;
}

.bClass:active
{
    border-width: 3px;
    filter: brightness(0.9);
}

#bot-id
{
	font-size: 20px;
}

#pvp-id
{
	font-size: 20px;
}

#canvas-id
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Boutons centrés en dessous du canvas */
#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 520px;
}

#canvas-2d {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none; /* Le texte n'empêche pas l'interaction avec le canevas 3D */
}
@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
